<h1>Create New Store</h1>




<%= form_for @store do |f|%>
<%=  f.label :name %>
<%=  f.text_field :name %>

<%=  f.label :address %>
<%=  f.text_field :address %>

<%=  f.label :stars %>
<%=  f.text_field :stars %>

<%=  f.submit %>

<% end %>
